.container {
  width: 42px;
  height: 24px;
  border: 1px solid #552e94;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;

  .modeToggleIcon {
    font-size: 12px;
  }

  .toggleBool {
    width: 15px;
    height: 15px;
    background-color: #552e94;
    border-radius: 50%;
    position: absolute;
  }
}
