.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
  justify-content: space-between;
  .footerImgWrapper {
    display: flex;
    gap: 10px;
    .icon {
      cursor: pointer;
    }
  }
}
