.container {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.blogitem {
  display: flex;
  gap: 20px;
}

.blogTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.blogImg {
  object-fit: cover;
}
